body {
    transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in;
    -webkit-transition: background-color 0.5s ease-in;
}

:root {
    font-size: 16px;

    /*LIGHT-MODE*/
    --lightGrad1: rgba(85,154,215,1);
    --lightGrad2: rgba(255,109,243,1);
    --lightMainColor: #dbe2ff;
    --lightSecondaryColor: #4b4b4b;
    --lightAccentColor: rgba(157,138,226,1);
    --lightButtonColor: #711bd9;

    /*DARK-MODE*/
    --darkGrad1: #1e5b5c;
    --darkGrad2: #711bd9;
    --darkMainColor: #4b4b4b;
    --darkSecondaryColor: white;
    --darkAccentColor: #3d4c81;
    --darkButtonColor: #ab8adc;
    --togglePos: 0;
}

.light {
    /*BUTTON*/
    --initialTextColor: white;
    --slideTextColor: var(--lightAccentColor);

    --initialBgColor: transparent;
    --slideBgColor: white;

    /*HEADING*/
    --headingGrad: linear-gradient(0deg, var(--lightGrad1) 0%, var(--lightGrad2) 100%);
    --grad1: var(--lightGrad1);
    --grad2: var(--lightGrad2);
    --headingMainColor: white;

    /*CONTENT*/
    --contentMainColor: var(--lightSecondaryColor);
    --contentBGColor: var(--lightMainColor);
    --buttonColor: var(--lightButtonColor);
    background-color: var(--lightMainColor);

    /*PROJECT CARDS*/
    --projectBGColor: rgba(219, 226, 255, 0.8);
}

.dark {
    /*BUTTON*/
    --initialTextColor: var(--darkSecondaryColor);
    --slideTextColor: var(--darkAccentColor);

    --initialBgColor: transparent;
    --slideBgColor: var(--darkSecondaryColor);

    /*HEADING*/
    --headingGrad: linear-gradient(0deg, var(--darkGrad1) 0%, var(--darkGrad2) 100%);
    --grad1: var(--darkGrad1);
    --grad2: var(--darkGrad2);
    --headingMainColor: var(--darkSecondaryColor);

    /*CONTENT*/
    --contentMainColor: var(--darkSecondaryColor);
    --contentBGColor: var(--darkMainColor);
    --buttonColor: var(--darkButtonColor);
    background-color: var(--darkMainColor);

    /*PROJECT CARDS*/
    --projectBGColor: rgba(75, 75, 75, 0.8);
}

.LandingPage-Heading {
    position: relative;
    background: var(--headingGrad);
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 15% 20%;
    place-items: center;
    font-size: calc(10px + 2vmin);
    color: var(--headingMainColor);
    clip-path: polygon(50% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%, 0% 0%);
    transition: color 1s ease-in;
    -o-transition: color 1s ease-in;
    -moz-transition: color 1s ease-in;
    -webkit-transition: color 1s ease-in;
}

.LandingPage-Content {
    position: relative;
    padding-top: 2rem;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    z-index: 999;
    color: var(--contentMainColor);
    transition: color 1s ease-in;
    -o-transition: color 1s ease-in;
    -moz-transition: color 1s ease-in;
    -webkit-transition: color 1s ease-in;
}

#Projects {
    position: relative;
    display: inline;
    margin-left: 3rem;
    margin-top: 2rem;
}

#Projects::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, var(--grad1), var(--grad2));
}

.LandingPage-Projects {
    padding: 5vh 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 3rem;
    grid-row-gap: 5rem;
    justify-content: center;
}

.LandingPage-Text {
    position: fixed;
    top: 50vh;
    display: block;
    width: 100%;
    font-size: 3.5rem;
    text-align: center;
    pointer-events: none;
}

.LandingPage-Logo {
    height: 100%;
}

@keyframes rainbow {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.LandingPage-Logo:hover {
    animation: rainbow 2s linear;
    -o-animation: rainbow 2s linear;
    -moz-animation: rainbow 2s linear;
    -webkit-animation: rainbow 2s linear;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.LandingPage-Button {
    width: 12rem;
    height: 4rem;
    border: .2em solid;
    grid-row-start: 3;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;

    color: var(--initialTextColor);

    background-image: linear-gradient(180deg,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%);
    background-size: 100% 200%;
    transition: background-position 0.2s ease-in, color 0.2s linear;
    -o-transition: background-position 0.2s ease-in, color 0.2s linear;
    -moz-transition: background-position 0.2s ease-in, color 0.2s linear;
    -webkit-transition: background-position 0.2s ease-in, color 0.2s linear;
    transition-delay: 0.0s, 0.15s;
    -o-transition-delay: 0.0s, 0.15s;
    -moz-transition-delay: 0.0s, 0.15s;
    -webkit-transition-delay: 0.0s, 0.15s;
}

.LandingPage-Button:hover {
    color: var(--slideTextColor);
    cursor: pointer;
    background-position: -100% 100%;
    border: none;
}

.LandingPage-Toggle-Container {
    position: fixed;
    top: 10px;
    right: 55px;
    display: inline;
    z-index: 9999;
}

.LandingPage-Toggle {
    width: 4rem;
    height: 2rem;
    position: relative;
    top: 0;
    right: 0;
    border: .1em solid;
    border-radius: 2rem;
    background-color: transparent;
    color: var(--initialTextColor);
    cursor: pointer;
    z-index: 4;
}

.LandingPage-Toggle::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid;
    border-radius: 100%;
    top: 1px;
    right: 2.05rem;
    color: var(--initialTextColor);
    background-color: var(--initialTextColor);
    transform: translateX(var(--togglePos));
    transition: transform 0.25s ease-out;
    -o-transition: transform 0.25s ease-out;
    -moz-transition: transform 0.25s ease-out;
    -webkit-transition: transform 0.25s ease-out;
}

.sun {
    position: absolute;
    top: -5px;
    right: 4rem;
    font-size: 2rem;
}

.moon {
    position: absolute;
    top: -3px;
    right: -2rem;
    font-size: 1.75rem;
}

.LandingPage-Toggle:focus {
    outline: 0;
}

.socials {
    position: fixed;
    bottom: 1vh;
    right: 1.8vw;
    z-index: 999;
    cursor: pointer;
}

.socials-img {
    width: 80px;
    z-index: 999;
}

.socials-panel {
    position: fixed;
    bottom: calc(1vh + 110px);
    right: 2vw;
    width: 100px;
    height: 0;
    z-index: 4;
    opacity: 0;
    transition: all ease-in 150ms;
    -o-transition: all ease-in 150ms;
    -moz-transition: all ease-in 150ms;
    -webkit-transition: all ease-in 150ms;
}

.socials-button {
    width: 50px;
    height: 50px;
    z-index: 5;
}

.button-icon {
    display: block;
    color: var(--buttonColor);
    background-color: white;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.github {
    position: relative;
    top: 90px;
    left: 35px;
}

.linkedin {
    position: relative;
    top: 100px;
    left: 35px;
}

@media only screen and (max-width: 600px) {
    .LandingPage-Heading {
        clip-path: polygon(50% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95%, 0% 0%);
    }

    .LandingPage-Logo {
        height: 75%;
    }

    .LandingPage-Text {
        top: 45vh;
        padding-left: 10vw;
        padding-right: 10vw;
        box-sizing: border-box;
        font-size: calc(1.5em + 2vmin);
    }
}

@media only screen and (min-width: 601px) and (max-width: 1030px) {
    .LandingPage-Text {
        font-size: calc(1.5em + 3vmin);
    }

    .LandingPage-Button {
        width: 18rem;
        height: 6rem;
        font-size: 2.25rem;
        border: .25em solid;
    }
}

@media only screen and (min-width: 2500px) {
    .LandingPage-Text {
        font-size: calc(2em + 3vmin);
    }

    .LandingPage-Button {
        width: 36rem;
        height: 12rem;
        font-size: 4.5rem;
        border: .3em solid;
    }
}