.Card-base {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#bg1 {
  background: linear-gradient(to top, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
}

#bg2 {
  background: linear-gradient(to top, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
}

.Card-background {
  height: 515px;
  transform: translate(-35%, -10%);
  filter: blur(10px);
}

.Card-image {
  width: 300px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.Card-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  color: var(--contentMainColor);
  background-color: var(--projectBGColor);
  opacity: 0;
  transition: opacity ease-in 250ms;
  -o-transition: opacity ease-in 250ms;
  -moz-transition: opacity ease-in 250ms;
  -webkit-transition: opacity ease-in 250ms;
}

.Card-base .Card-info:hover {
  opacity: 1;
}

.info-name {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 33%;
  padding: 50px 20px;
  text-align: center;
  font-size: 2rem;
}

.info-description {
  position: absolute;
  top: 100px;
  box-sizing: border-box;
  width: 100%;
  height: 33%;
  padding: 50px 20px;
  text-align: center;
  font-size: 1rem;
}

.info-button-container {
  position: absolute;
  top: 200px;
  box-sizing: border-box;
  width: 100%;
  height: 33%;
  text-align: center;
}

.info-button {
  display: inline-block;
  margin: 2rem 1rem 0 1rem;
  width: 6rem;
  height: 2rem;
  border: .2em solid;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  text-align: center;

  color: var(--contentMainColor);

  background-image: linear-gradient(180deg,
          var(--initialBgColor) 0%,
          var(--initialBgColor) 50%,
          var(--contentMainColor) 50%,
          var(--contentMainColor) 100%);
  background-size: 100% 210%;
  transition: background-position 0.2s ease-in, color 0.2s linear;
  -o-transition: background-position 0.2s ease-in, color 0.2s linear;
  -moz-transition: background-position 0.2s ease-in, color 0.2s linear;
  -webkit-transition: background-position 0.2s ease-in, color 0.2s linear;
  transition-delay: 0.0s, 0.15s;
  -o-transition-delay: 0.0s, 0.15s;
  -moz-transition-delay: 0.0s, 0.15s;
  -webkit-transition-delay: 0.0s, 0.15s;
  text-decoration: none;
  &:hover {
    color: var(--projectBGColor);
    cursor: pointer;
    background-position: -100% 100%;
    border: none;
  }
}